<a href="https://colab.research.google.com/github/csoren66/Assignment/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment - 1

In [1]:
print("Good evening all")

Good evening all

In [2]:
a="Hello everyone" 
print(a)
print(type(a))

Hello everyone
<class 'str'>

In [3]:
num1=3387 
num2=3.47 
print(type(num2))
print(type(num1))

<class 'float'>
<class 'int'>

In [4]:
print(num1-num2)

3383.53

In [5]:
print(10<9)
add=False
print(add)
print(type(add))

False
False
<class 'bool'>

In [6]:
name="Jerry"
no=3

print("Hello"+name,no)

HelloJerry 3

In [7]:
mylist=["Data","Details","Access"] 
mylist1=[366,476.0,True,"Data"]
print(mylist1)

[366, 476.0, True, 'Data']

In [8]:
mylist1[2]=False
print(mylist1)

[366, 476.0, False, 'Data']

In [9]:
mylist1.add("data1")  ### list has not any attribute like  add 
print(mylist1)

AttributeError: ignored

In [10]:
mylist1.insert(1000,300)
print(mylist1)

[366, 476.0, False, 'Data', 300]

In [11]:
del mylist1[5] ###indexno.5 has not any data so its show error
print(mylist1)

IndexError: ignored

In [12]:
mylist1.remove("Data")### remove help the user to delete the data directly 
print(mylist1)

[366, 476.0, False, 300]

In [13]:
mylist1=[366,476.0,True,"Data"]
print(mylist1[1])

476.0

In [14]:
tuple=(["dell","Asus","Hp",27,387.87])
print(tuple)
del tuple
print(tuple)

['dell', 'Asus', 'Hp', 27, 387.87]
<class 'tuple'>

In [15]:
Dict={
    "Username":["Admin","Admin1"],
      "Password":"Pass",
      "Os":"windows",
      "Ram":"128GB"
    
}
print(Dict["Username"])

['Admin', 'Admin1']

In [16]:
print(Dict["Password"])

Pass

In [17]:
Dict["Password"]=32667
print(Dict)

{'Username': ['Admin', 'Admin1'], 'Password': 32667, 'Os': 'windows', 'Ram': '128GB'}

In [18]:
del Dict["Os"]
print(Dict)

{'Username': ['Admin', 'Admin1'], 'Password': 32667, 'Ram': '128GB'}

In [19]:
a="randomness"
print(a[0:100])
print(a[3:])
print(a[:3])
print(a[-9:-1])

randomness
domness
ran
andomnes

In [20]:
a="randomness"
print(a[-10:])

randomness

In [21]:
b="Python"
 ##print(b[1])
 ###print(b[2])
print(b[::-2])

nhy

In [22]:
myset={"A","B","C",32465,"A"}
print(myset)
print(len(myset))

{32465, 'B', 'A', 'C'}
4

In [23]:
myset.add(True)
print(myset)

{True, 'B', 'A', 'C', 32465}

In [24]:
var=set()
print(var)

set()

In [25]:
var.add("Add")
print(var)

{'Add'}

In [26]:
set1={"Data","task","Status"}
set2={0,True,"Data"}
set3=set1|(set2)
print(set3)

{'Status', 'task', 0, True, 'Data'}

In [27]:
set1={"Data","task","Status"}
set2={0,True,"Data"}
set3=set1&(set2)
print(set3)

{'Data'}

In [28]:
set1.clear()
print(set1)

set()

In [29]:
set1=100
set2=100
print(set1!=set2)
print((set1)>=(set2))
print(set1==set2)

False
True
True

In [30]:
myfrozenset= frozenset(["E","F"])
print(myfrozenset)

frozenset({'F', 'E'})

In [31]:
myfrozenset.add("add") ### frozen set doesnot support add function
print(myfrozenset)

AttributeError: ignored

In [32]:
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")

hello
hello
hello
hello
hello

In [33]:
def func():
  for x in range(10):
    print("The task is assigned")
    print("Work is on progress")
func()

The task is assigned
Work is on progress
The task is assigned
Work is on progress
The task is assigned
Work is on progress
The task is assigned
Work is on progress
The task is assigned
Work is on progress
The task is assigned
Work is on progress
The task is assigned
Work is on progress
The task is assigned
Work is on progress
The task is assigned
Work is on progress
The task is assigned
Work is on progress

In [34]:
list1=["Data","Status","Progress",1,1,2 ,3]
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])

Data
Status
Progress
1

In [35]:
for values in list1:
 print(values)

Data
Status
Progress
1
1
2
3

In [36]:
def sub(num1,num2): 
  print("The addition of two values are",(num1-num2))
sub(45,55)

The addition of two values are -10

In [37]:
def a(name, name1):
  print("Hey",name,"and",name1, "good to see you today")
a("Tom","Jerry")

Hey Tom and Jerry good to see you today

In [38]:
def user():
  x=input("Enter the name:")
  print("Nice to meet you",x)
user()

Enter the name:Chandan
Nice to meet you Chandan

In [39]:
def addition():
  num1 = int(input("Enter first num: "))
  num2 = int(input("Enter second num: "))
  print("The sum of given two number is:", (num1 + num2))
addition()

Enter first num: 3
Enter second num: 5
The sum of given two number is: 8

In [40]:
#Advance argument passing
# Positional arguments
def arg(name,batch,year):
  print("Hey this is",name,"from",batch,"in the year",year)
arg("Sep batch",2022,"Tom")

Hey this is Sep batch from 2022 in the year Tom

In [41]:
def value(a,b,c,d):
  print(a,b,c,d)
value(4,2,1,3)

4 2 1 3